[Desktop Entry]
Version=1.0
Type=Application
Name={{ pycharm_naming_map[pycharm_edition].name }}
Icon=/opt/pycharm/bin/pycharm.svg
Exec="/opt/pycharm/bin/pycharm.sh" %f
Comment={{ pycharm_naming_map[pycharm_edition].comment }}
Categories=Development;IDE;
Terminal=false
StartupNotify=true